.animation-jump {
	position: relative;
	-webkit-animation: animation-jump 2s ease-in-out infinite;
	animation: animation-jump 2s ease-in-out infinite;
}

@-webkit-keyframes animation-jump {
	0% {
		top: 3px;
	}

	50% {
		top: -3px;
	}

	100% {
		top: 3px;
	}
}

@keyframes animation-jump {
	0% {
		top: 3px;
	}

	50% {
		top: -3px;
	}

	100% {
		top: 3px;
	}
}


/* ------------------------------------- animacion splash-------------------------------------- */
.splash-animate-nitrolix {

	animation: 2s splash ease-out infinite;
}

@keyframes splash {

	0% {
		scale: 1;
	}

	50%{
		scale: 2;
	}

	100% {
		scale: 1;
	}
}