:root {
	--colorPrincipal: #80d6c9;
	--colorSecundario: #fff;
	--colorTercario: #1b1b1b;
	--colorPaleta1: #1ae6d3;
}

html {
	box-sizing: border-box;
	font-size: 65.5%; /* para que un 1rem sea igual a 10 pixeles */
}

*,
*:before,
l*:after {
	box-sizing: inherit;
}

body {
	font-size: 1.6rem /* esto equivale a 16px */;
	line-height: 2;
	font-family: 'Noto Serif Vithkuqi', serif;
}

.color__contact {
	color: var(--colorPrincipal);
}

.contenedor__redes {
	width: 3rem;
}
.contenedor__redes {
	cursor: pointer;
	border-radius: 0.5rem;
	font-size: 1.6rem;
	color: var(--colorPrincipal);
	border-color: var(--colorPrincipal);
	border: 0.1rem solid var(--colorPrincipal);
}

@media (min-width: 768px) {
	.contenedor__header {
		width: 65rem;
	}
}

/* icono logo */
.icono__img {
	max-width: 15rem;
	object-fit: cover;
	background-repeat: no-repeat;
}

.navegacion__boton__compra__mini {
	background-color: var(--colorPaleta1);
	padding: 1rem;
	border-radius: 0.5rem;
	cursor: pointer;
}

.contenedor__banner {
	background-color: var(--colorPrincipal);
	width: 100%;
}

/* boton de compra */
.boton__compra {
	margin-top: 4rem;
	column-gap: 0.5rem;
	max-width: 155rem;
	padding: 1.5rem;
	background-color: var(--colorPaleta1);
	border-radius: 0.5rem;
	justify-content: center;
	display: flex;
	font-size: 1.8rem;
	align-items: center;
	box-shadow: 1px 2px 3px #414040;
}

/* imagen */
.imagen__principal-transfrom {
	object-fit: contain;
	object-position: center;
}

@media (min-width: 768px) {
	.banner__informacion {
		max-width: 80%;
	}

	.imagen__principal-transfrom {
		width: 45rem;
		-moz-transform: rotate(10deg);
		-o-transform: rotate(10deg);
		-webkit-transform: rotate(10deg);
		transform: rotate(10deg);
	}
}

/* banner */
.hero__contenedor__banner {
	width: 100%;
}

.banner__seccion__image {
	align-items: center;
}

/* informacion calidad diseño */
.hero__contenedor__calidad {
	color: var(--colorSecundario);
	background-color: var(--colorTercario);
}

.title__mini__seccion__calidad {
	color: var(--colorPaleta1);
}

.titulo__calidad {
	width: 90%;
}

.info__calidad {
	width: 90%;
}

.title__seccion__calidad {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.contenedor__card {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	max-width: 20rem;
	border-radius: 10px;
}

.contenedor__calidad__cualidades {
	margin-top: 3rem;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	gap: 1rem;
	justify-items: center;
}

@media (min-width: 768px) {
	.contenedor__calidad__cualidades {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(1, 1fr);
	}
}

.hero__contenedor__banner {
	min-height: 90vh;
}
