/* ------------------------------------------------------------------------- variables principales de la aplicacion y utilizades ------------------------------------------------------------------------- */

.fade-in {
	opacity: 0;
}

:root {
	--colorRedSocialFb: #3b5998;
	--colorRedSocialWpp: #25d366;
	--colorPrincipal: #1f4149;
	--colorPrincipal2: #15313a;
	--colorPrincipal3: #2d5f6c;
	--colorBlanco: #f7f6f6;
	--colorNegro: #1b1b1b;
	--colorTernario: #fabb5b;
	--container-home: 140rem;

	--fuenteTitle: 'TT Commons', sans-serif;
	--fuenteDefault: 'TT Commons', sans-serif;
}

/* ------------------------------------------------------------------------- seccion de config globales ------------------------------------------------------------------------- */

html {
	box-sizing: border-box;
	font-size: 65.5%; /* para que un 1rem sea igual a 10 pixeles */
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-size: 2rem /* esto equivale a 16px */;
	line-height: 1.6;
	font-family: var(--fuenteDefault);
}

a {
	text-underline-offset: 0.4rem;
}

h1,
h2,
h3,
h4 {
	font-family: var(--fuenteTitle);
}

/* ------------------------------------------------------------------------- diseño principal ------------------------------------------------------------------------- */

.color__contact {
	color: var(--colorBlanco);
	font-weight: 700;
}

.contenedor__redes {
	width: 3rem;
}
.contenedor__redes {
	cursor: pointer;
	border-radius: 0.5rem;
	font-size: 1.6rem;
	color: var(--colorBlanco);
	border-color: var(--colorBlanco);
	border: 0.1rem solid var(--colorBlanco);
}

/* contenedor redes ahora  con colores personalizados*/
.red-fb:hover {
	border-color: var(--colorBlanco);
	background-color: var(--colorRedSocialFb);
	color: var(--colorBlanco);
}

.red-ig:hover {
	background: linear-gradient(to bottom, #e53d9a, #f06292);
	color: var(--colorBlanco);
	border-color: var(--colorBlanco);
}

.red-wpp:hover {
	background-color: var(--colorRedSocialWpp);
	color: var(--colorBlanco);
	border-color: var(--colorBlanco);
}

@media (min-width: 768px) {
	.contenedor__header {
		width: 65rem;
	}
}

/* icono logo */
.icono__img {
	max-width: 15rem;
	object-fit: cover;
	background-repeat: no-repeat;
}

.navegacion__boton__compra__mini {
	background-color: var(--colorTernario);
	color: var(--colorNegro);
	padding: 1rem;
	border-radius: 0.5rem;
	cursor: pointer;
}

.contenedor__banner {
	width: 75%;
}

/* boton de compra */
.boton__compra {
	column-gap: 0.5rem;
	max-width: 155rem;
	padding: 1.5rem;
	border-radius: 0.5rem;
	justify-content: center;
	display: flex;
	font-size: 1.8rem;
	align-items: center;
	box-shadow: 1px 2px 3px #414040;
	color: var(--colorNegro);
}

/* imagen */
.imagen__principal-transfrom {
	object-fit: contain;
	object-position: center;
}

@media (min-width: 768px) {
	.banner__informacion {
		max-width: 80%;
		font-size: 2rem;
	}

	.imagen__principal-transfrom {
		width: 45rem;
		-moz-transform: rotate(10deg);
		-o-transform: rotate(10deg);
		-webkit-transform: rotate(10deg);
		transform: rotate(10deg);
	}
}

/* banner */
.hero__contenedor__banner {
	justify-content: center;
	background-image: linear-gradient(to right, var(--color-secundario) 0%, var(--color-principal) 100%);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	width: 100%;
}

.banner__seccion__image {
	align-items: center;
}

.banner__seccion__text {
	color: var(--colorBlanco);
}

/* informacion calidad diseño */
.hero__contenedor__calidad {
	/* color: var(--colorBlanco); */
	/* background-color: var(--colorNegro); */
}

.title__mini__seccion__calidad {
	color: var(--colorPrincipal2);
}

.titulo__calidad {
	width: 90%;
}

.info__calidad {
	width: 90%;
}

.title__seccion__calidad {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.contenedor__calidad__cualidades {
	max-width: var(--container-home);
	margin-top: 3rem;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	gap: 2rem;
	justify-items: center;
}

@media (min-width: 768px) {
	.contenedor__calidad__cualidades {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(1, 1fr);
	}
}

/* .hero__contenedor__banner {
	min-height: 90vh;
} */

/* seccion caracteristicas */
.contenedor__caracteristicas {
	padding-bottom: 3rem;
}
.title__mini__seccion__caracteristicas {
	color: var(--colorNegro);
}

.contenedor__cards__hero {
	width: 90%;
}

.contenedor__card ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.contenedor__card ul li {
	position: relative;
	padding-left: 1.2rem; /* espacio para el punto */
}

.contenedor__card ul li::marker {
	content: none; /* quitamos el marker nativo */
}
.contenedor__card ul li::before {
	content: '•';
	position: absolute;
	left: 0;
	color: #1d3557; /* tu color */
}

.card__head {
	width: 100%;
}

.contenedor__cards__image {
	display: flex;
	justify-content: center;
	padding: 2rem 0rem;
}

/* seccion seccion de email */
.contenido__email__hero {
	background-color: var(--colorBlanco);
}

input[type='text'],
input[type='email'] {
	height: 4rem;
	border-radius: 1rem;
	width: 100%;
	padding: 1rem;
}

.content__formu textarea {
	width: 100%;
	border-radius: 1rem;
	padding: 1rem;
}

.contact__hero {
	min-width: 27%;
}

@media (min-width: 768px) {
	.formulario__principal {
		width: 90%;
	}
}

.btn-enviar_form {
	color: var(--colorNegro);
	border-radius: 1rem;
	background-color: var(--colorPrincipal) !important;
	padding: 1rem;
	font-weight: bold;
	width: 100%;
	margin: 2rem 0 2rem 0;
	cursor: pointer;
}

@media (min-width: 768px) {
	.btn-enviar_form {
		width: auto;
	}
}

/* ------------------------------------------------------------------------- seccion de footer ------------------------------------------------------------------------- */
.contenedor__footer {
	padding: 3rem;
	background-color: var(--colorNegro);
	color: var(--colorBlanco);
}

.contenedor__footer__slider {
	width: 90%;
}

/* seccion del suscription */
.subs-cliente {
	position: relative;
	display: flex;
	align-items: center;
}
.boton__subs {
	position: absolute;
	height: 3.5rem;
	right: 3%;
	font-size: 1.2rem;
	background-color: var(--colorTernario);
	padding-left: 1rem;
	padding-right: 1rem;
	color: var(--colorNegro);
	border-radius: 5rem 5rem 5rem 5rem;
}

.text__subs {
	color: var(--colorNegro);
	border-radius: 5rem !important;
}

.informacion__footer {
	width: 100%;
}

.lista__redes__footer ul > li > a {
	font-size: 3rem;
}

@media (min-width: 1440px) {
	.contenedor__footer__slider {
		width: 50%;
	}

	.informacion__footer {
		width: 30%;
	}

	.subs-cliente {
		width: 30rem;
	}
}

.contenedor__copi {
	padding: 0.5rem;
	font-size: 1.2rem;
	color: var(--colorBlanco);
	background-color: #1b1b1b;
	border-top: 1px solid gray;
}

.contenedor__copi p > a {
	color: var(--colorBlanco) !important;
	text-decoration: underline;
	text-underline-offset: 4px;
}

.btn_menu {
	background-color: var(--colorPrincipal);
	padding: 0.5rem;
	border-radius: 0.4rem;
}

.navegacion__icono {
	column-gap: 35vw;
	justify-content: space-between;
}

@media (min-width: 1024px) {
	.navegacion__icono {
		width: auto;
		justify-content: center;
	}
}
/* ------------------------------------------------------------------------- splash app ------------------------------------------------------------------------- */
.content__splash__hero {
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-color: var(--colorBlanco);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
}

.content__splash {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
}

.content__img {
	width: 20rem;
	height: auto;
}

/* ------------------------------------------------------------------------- catalogo nitrolix  ------------------------------------------------------------------------- */

.catalogo__card__content {
	display: flex;
	flex-direction: column;
	min-width: 40rem;
	height: 45rem !important;
	max-width: 100%;
	background-color: var(--colorNegro);
	color: var(--colorBlanco);
	padding: 1rem;
	border-radius: 1rem 5rem 1rem 1rem;
	height: 40rem;
}

.swiper-pagination {
	position: initial;
}

.swiper-pagination-bullet-active {
	background-color: var(--colorNegro);
}

.catalogo__card__titulo {
	/* text-wrap: balance; */
	margin: -1rem;
	background: #3ca8b7;
	color: var(--colorNegro);
	padding: 1rem;
	border-radius: 1rem 5rem;
	height: 25rem;
	max-height: 25rem;
	display: flex;
	align-items: center;
}

.catalogo__card__description {
	padding: 2rem;
	flex: 1;
}
